.search {
  display: flex;
  flex-direction: column;
}
.search-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-input-icon {
  position: absolute;
  z-index: 10;
  margin-left: 10px;
  color: #9aa0a6;
}
.search-input-micIcon {
  position: absolute;
  z-index: 10;
  right: 31.5%;
  color: #9aa0a6;
}
.search-input input {
  font-size: 16px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  -webkit-tap-highlight-color: transparent;
  outline: none;
  padding-left: 40px;
  padding-right: 40px;
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  width: 442px;
}
.search-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.search-buttons button {
  margin: 5px;
  padding: 7px 15px;
  background: #f8f8f8;
  border: 1px solid white;
  text-transform: inherit;
  color: #5f6368;
}

.search-buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}
.search-button-hidden {
  display: none !important;
}
